<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
		<span class="header_cate_title">
		  留言
		</span>
	</header>
</div>
<% @posts.each do |post| %>
	<%= render partial: 'shared/posts_box', locals: {posts: post, user: post.user} %>
<% end %> 


