<div class="wrapper__box--large MaxWidth740 margin0">
	<div class="box__post flex-row padding0">
		<div class="section__action Width100 padding0">
			<ul class="no-border">
				<%= dashboard_nav("mamabook", mamabook_nav_items, "button") %>			
			</ul>
		</div>
	</div>
</div>
