<div class="wrapper__box--large MaxWidth740">
    <div class="wrapper__box--inner">
    	<div class="box__post flex-row">
    		<div class="section__poster flex-colunm">
    			<div class="poster-avatar">
    				<%= user_img_helper("small-poster", message.user) %>
    			</div>
    		</div>
    		<div class="section__content flex-colunm Width100 padding-l1">
    			<div class="section__content flex-colunm"> 
    				<h2 class="profile-name MarginTop00 MarginBottom05"><%= link_to message.user.nickname, user_path(message.user), class:"name" %></h2> 
    			</div>
    			<span class="time-ago-in-words"><%= time_ago_in_words(message.created_at) %>前</span>
    			<div class="section__content">
    				<div class="post-description"><%= message.content %></div>
    			</div>
    		</div>
    	</div>
    </div>
</div>