<div class='wrapper__filter'>
	<div class='flex-filter-title'>
		<i class="material-icons"><%= @flex_filter_icon %></i>
		<span><%= @flex_filter_title %></span>
	</div>
	<div class="flex-filter-section">
    	<ul>
    	    <%= filter_helper %>
    	</ul>
	</div>
</div>