<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
  		<span class="header_cate_title">
  			更新醫生照片
  		</span>
	</header>
    <div class="wrapper-doctor-index">
		<% @albums.each do |album| %>
			<div class="wrapper__box--small align-center">
	    		<%= link_to image_tag(album.album_img.url(:medium), class:"poster-avatar-img  size7x7"), dashboard_mamabook_doctor_doctor_album_path(id: @doctor.doctor_album, doctor_id: @doctor.id, album_id: album.id), method: :patch %>
			</div>
		<% end %>
	</div>
</div>
