<div class="wrapper__box--large flex-row MaxWidth740">
	<div class="section__poster Width100">
		<div class="poster-name">
  			<H1 class="post-title FontSize2 MarginTop1"><%= link_to "用戶",{},class:"name" %></H1>
		</div>
		<div class="poster-avatar">
			<%= image_tag "yuna.jpg", class:"poster-avatar-img  size7x7" %>
		</div>
	</div>
</div>