<div class="col s12 m4 l3 left-align">
    <div class="card z-depth-0 blue lighten-5" style="border: solid 1px rgba(51,51,51,0.12)">
        <div class="card-image">
            <div><%= image_tag "male" %></div>
            <div  class="deep-purple lighten-2"><span class="card-title"><%= link_to doctor.name, doctor, class:"indigo-text text-lighten-2" %></span></div>
        </div>
        <div class="card-content">
            <div class="truncate"><%= doctor.hospital.name %></div>
            <div><%#= doctor.experience %></div>
        </div>
        <div class="card-action">
            <a href='<%= edit_doctor_path(doctor) %>' class='waves-effect eaves-light' name='action'>Edit</a>
        </div>
    </div>
</div>