<div class="container-doctor">
	<div class="wrapper__doctor MaxWidth1000">
		<div class="wrapper__box--300Max">
			<div class="wrapper__box--inner">
				<div class="box__doctor">
					<%= render partial: "doctors/profile_avatar_section", locals: {doctor: @doctor} %>
					<%= render partial: "doctors/profile_action_show_section", locals: {doctor: @doctor} %>
				</div>
			</div>
		</div>
		<div class="wrapper__header--right">
			<%= render 'shared/flex_filterbar' %>
		</div>
	</div>
</div>
