<div class="row">
    <div class="section">
        <div class="col s12">
            <div class="wrapper__box--300Max">
                <div class="wrapper__box--inner">
                    <div class="box__sidemenu">
                        <div class="section__title">
                            <span>經歷</span>
                        </div>
                        <div class="section__link">
                            <ul>
                                <li>
                                    <span class="post-title"><%= simple_format @doctor.experience %></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="wrapper__box--300Max">
                <div class="wrapper__box--inner">
                    <div class="box__sidemenu">
                        <div class="section__title">
                            <span>專長</span>
                        </div>
                        <div class="section__link">
                            <ul>
                                <li class="post-title">
                                    <%= simple_format @doctor.specialty %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>  

<% if false %>
<%#= 這邊還沒弄好，因為爬蟲的資料不知道怎麼整理 %>
<div class="flex-sidebar-box-wrap">
    <div class="flex-sidebar-box">
        <div class="sidebar-box-title">
            專長
        </div>
        <div class="sidebar-box-link-wrap">
            <ul>
                <li  class="sidebar-box-link">
                    <%= simple_format @doctor.specialty %>
                </li>
            
            </ul>
        </div>
    </div>
</div>
<% end %>

