<div class="section__content"> 
    <%= render partial: "doctors/profile_title_section", locals: {doctor: doctor} %>
</div>
<div class="section__poster FixedBottom05">
    <%= render partial: "doctors/profile_poster_section", locals: {doctor: doctor} %>
</div>