<div class="profile-avatar">
     <%= link_to image_tag(doctor.doctor_img.url, class: 'profile-avatar-img responsive-img'), doctor %>
    <ul>
        <li>
            <span class="profile-name"><%= link_to "#{doctor.name} 醫生", doctor %></span>
        </li>
        <li>
            <!-- New Post Modal Trigger -->
            <%= link_to "#modal-new-post_#{doctor.id}", class:"btn-custom btn-custom-white" do %> 
	            <i class="material-icons">mode_edit</i>
	            <span><%= "留言" %></span>
            <% end %>
        </li>
    </ul>
</div>


