<div class="section">
	<%= render 'shared/flex_filterbar' %>
</div>
<div class="section">
	<header class="header_cate">
		<span class="header_cate_title">
			<%= @city_name %>
		</span>
	</header>
	<div class="row">
		<div class="wrapper-doctor-index">
	  		<% @doctors.each do |doctor| %>
	    		<div class="wrapper__box--small">
	    			<div class="wrapper__box--inner">
		    			<div class="box__doctor">
		    				<%= render partial: "doctors/profile_box", locals: {doctor: doctor} %>
		    			</div>
		    			<div class="box__post BoxHeight10">
		    				<%= render partial: "doctors/post_box", locals: {doctor: doctor} %>
		    			</div>
	    		    </div>
				</div>
			<% end %> 
    	</div>
	</div>
</div>
