
  
  
<div id="filterrific_results">
	<% if !posts.blank?%>
	<div class="row">
		<% posts.each do |post| %>
			<%= render 'posts/list_posts_index', post: post  %>
		<% end %>
	</div>
	<% else %>
		搶先留言
	<% end %>
</div>


