<div id="filterrific_results">
	<% if !posts.blank?%>
		<div class="row">
			<div class="wrapper-post-index">
				<% posts.each do |post| %>
					<div class="wrapper__box--small">
						<%= render 'posts/posts_box', post: post  %>
					</div>	
				<% end %>
			</div>
		</div>
	<% else %>
		<span>搶先留言</span>
	<% end %>
</div>


