<!-- New Post Modal Structure -->
<div id="modal-new-post_<%= doctor.id %>" class="modal modal-fixed-footer modal-post">
    <%= render 'posts/new', doctor: doctor %>
</div>




<% if false %>
<div class="container">
	<div class="row">
		<div class='section'>
			<div class= "discussion-container">
				<ul class="control-container">
					<ul class="control-page-items z-depth-0">
						<div class="chip chip-normal"><span>新增留言</span></div>
					</ul>
				</ul>
				<div class="discussion-form">
					<%= render 'form' %>
				</div>
			</div>	
		</div>
		<a href='<%= doctor_path(@doctor) %>' class='btn waves-effect waves-light' name='action'>回到上一頁</a>
	 </div>
</div>
<% end %>