<div class="chip truncate">
	<%= post.phase.title %>
</div>
<div class="chip truncate">
	<%= post.issue.title %>
</div>
<% if false %>
<div class="circle chip-action">
	<i class="material-icons" title="我也遇過">exposure_plus_1</i>
</div>
<% end %>

