<% content_for :sidebar do %>
	<!-- 側邊欄 留言區 主選單 -->
	<%= render 'shared/sidebar_index' %>
<% end %>

<% content_for :headbar do %>
	<!-- 總留言區 多重篩選器 filterrefic -->
	<%= render 'posts/filter_index' %>
<% end %>

<div class="section">
	<!-- 總留言區 -->
	<%= render(partial: 'posts/list',locals: { posts: @posts }) %>
</div>    
