

<% content_for :sidebar do %>
	<%= render 'doctors/sidebar_index' %>
<% end %>

<div class="row">
	<div class="control-container">
		<ul class="control-page-items z-depth-0">
			<li class="dropdown-parent"><%= link_to "總討論區", "#", class:"dropdown-parent-label" %></li>
		</ul>
	</div>
		<% @posts.each do |post| %>
			<%= render 'posts/list_posts_index', post: post  %>
		<% end %>
</div>
 