<div class="wrapper__box--large MaxWidth740">
    <header class="header_cate">
    	<span class="header_cate_title">留言</span>
    </header>
    <%= render partial: "form", locals: { doctor: @doctor, post: @post } %>
</div>