<% content_for :sidebar do %>
	<%= render 'doctors/sidebar_index' %>
<% end %>

<% if false %>
<% content_for :headbar do %>
	<%= render 'posts/filter_index' %>
<% end %>
<% end %>

<div class="section">
	<header class="posts_phase_section_header">
		<span class="posts_phase_section_title">
			<%= @title %>
		</span>
	</header>
	<div class="row">
		<% @posts.each do |post| %>
			<%= render 'posts/list_posts_index', post: post  %>
		<% end %>
	</div>
</div>
 
