<% content_for :sidebar do %>
	<%= render 'shared/sidebar_index' %>
<% end %>
<div class="section">
	<header class="header_cate">
		<span class="header_cate_title">
			<%= @title %>
		</span>
	</header>
	<div class="row">
		<div class="wrapper-post-index">
			<% @posts.each do |post| %>
				<div class="wrapper__box--small">
					<%= render 'posts/posts_box', post: post  %>
				</div>	
			<% end %>
		</div>
	</div>
</div>
 
