<div class="wrapper__box--large MaxWidth740">
	<%= render 'posts/posts_box_showpage', post: @post  %>
	<header class="header_cate">
		<span class="header_cate_title">
			<% if @comments.blank? %>
				成為第一個回覆的人
			<% else %>
				參加討論
			<% end %>
		</span>
	</header>
	<div>
		<%= render 'comments/form' %>
	</div>
</div>

<% content_for :comment_section do %>
	<!-- 回覆區 -->
	<div class="container-comment">
    	<div class="wrapper__post MaxWidth1000">
	    	<%= render 'comments/comment', collection: @comments %>
	    </div>
	</div>
<% end %>


