<% if false %>
<% content_for :show_headbar do %>
	<!-- Po文者的照片 -->
	<%= render 'posts/show_headbar', post: @post %>
<% end %>

<% content_for :comment_section do %>
	<!-- 回覆區 -->
	<%= render 'posts/show_comment' %>
	<%#= render @post.comment %>
<% end %>

<% end %>



<div class="section__wrapper padding-t0">
	<div class="wrapper__box--large MaxWidth740 ">
		<div class="wrapper__box--inner padding2">
		<div class="section__content flex-colunm margin-b-1 article-content MinHeight34"> 
			<%= simple_format @conversation.content %>
		</div>
		</div>
	</div>
</div>
