#error_explanation{
    border: 1px solid #eed3d7;
    padding: 30px;
    color: #b94a48;
    background-color: #f2dede;
    border-radius: 5px;
    font-size: 1.2em;
    ul{
        margin: 0;
    }
}

/*error_message for new comment - ujs*/

.error__comment-new{
    border: none !important;
    padding: 10px 10px 0px 15px !important;
    color: #b94a48;
    background-color: white !important;
    font-size: 1.2em;
}

/*flash*/
.alert {
    padding: 30px;    
    font-size: 1.2em;
    border-radius: 5px;
    ul{
        margin: 0;
    }
}

.alert-error {
    @extend .alert;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }