/** Beginning of 背景色 相關 */

    
.primary-bg {
    background-color: $primary-bg !important;
}

.secondary-bg {
    background-color: $secondary-bg !important;
}

.transparent-bg {
    background-color: transparent !important;
}


/** End of 背景色 相關 */

