.container-doctor{
    @extend .container--basic;
    background-color: $secondary-bg;
    @media only screen and (max-width: 600px) {
        margin: 0 auto;
        padding: 0px;
        width: 100%;
        flex-wrap: wrap;
    }
}

.container-post{
    @extend .container--basic;
    background-color: $primary-bg;
}

.container-comment{
    @extend .container--basic;
    background-color: $secondary-bg;
}
