

//改內建的CSS
//1.表單
textarea {
    width: 100%;
    height: 10rem !important;
    background-color: transparent;
    border: 1px solid rgb(224, 224, 224);
    font-size: 18px;
    padding: 5px;
}

//2. Radio Button 改成 Button。按下不會直接送出
[type="radio"] + label:before, [type="radio"] + label:after {
    content: none;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding: 0 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
    
}

