/** Beginning of 方向 相關 */

    
.flex-colunm {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}



/** End of 方向 相關 */



/** Beginning of 背景色 相關 */

    
.primary-bg {
    background-color: $primary-bg !important;
}

.secondary-bg {
    background-color: $secondary-bg !important;
}

.transparent-bg {
    background-color: transparent !important;
}


/** End of 背景色 相關 */



/** Beginning of Border 相關 */
.basic-border {
    border: $basic-border;
}

.no-border {
    border: none !important;
}

.bottom-border {
    border-bottom: $basic-border !important;
}

.radius100{
    border-radius: 100%;
}
.basic-shadow {
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

/** End of Border 相關 */




/** Beginning of 大小、邊距等 相關 */

//寬度
.MaxWidth1000{
    max-width: 1000px !important;
}

.MaxWidth740{
    max-width: 740px !important;
}

.MaxWidth640{
    max-width: 640px !important;
}

.Width100px{
    width: 100px !important;
}

.Width300px{
    width: 300px !important;
}

.Width35{
    width: 35% !important;
}

.Width40{
    width: 40% !important;
}

.Width50{
    width: 50% !important;
}

.Width100{
    width: 100% !important;
}
//高度

.Height4 {
    height: 4.0rem;
} 

.Height100{
    height: 100%;
}

.BoxHeight9{
    height: 9rem;
}

.BoxHeight10{
    height: 10rem;
}
.BoxHeight16{
    height: 16rem;
}
.MinHeight4{
    min-height: 4rem;
}

.FixedBottom05{
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    width: calc(100% - 1rem);
}



//邊距


.marginAuto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.margin0{
    margin: 0 auto !important;
}
.oneRemMargin{
    margin: 0.2rem;
}

.MarginTop00{
    margin-top: 0rem !important;
}

.MarginTop05{
    margin-top: 0.5rem;
}
.MarginTop1{
    margin-top: 1rem;
}
.MarginTop15{
    margin-top: 1.5rem;
}
.MarginTop2{
    margin-top: 2rem;
}

.MarginBottom05{
    margin-bottom: 0.5rem;
}

.MarginBottom5{
    margin-bottom: 5rem;
}

.margin-b-1{
    margin-bottom: 1rem;
}

.margin-r-1{
    margin-right: 0.5rem;
}
.flex80px{
    flex: 0 1 calc(100% - 80px) !important;
}

.flexauto{
    flex: 1 0 auto;
}

//內距

.padding0 {
    padding: 0 !important;
}
.padding2 {
    padding: 2rem !important;
}

.padding-t0 {
    padding-top: 0rem !important;
}

.padding-b0 {
    padding-bottom: 0rem;
}


/** End of 大小、邊距等 相關 */

//flexbox

.align-center {
    align-items: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}

/** End of 大小、邊距等 相關 */

//位置

.left10rem{
    left: 10rem;
}

.left18rem{
    left: 18rem;
}