/** Beginning of 方向 相關 */

    
.flex-colunm {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}



/** End of 方向 相關 */



/** Beginning of 背景色 相關 */

    
.primary-bg {
    background-color: $primary-bg !important;
}

.secondary-bg {
    background-color: $secondary-bg !important;
}

.transparent-bg {
    background-color: transparent !important;
}


/** End of 背景色 相關 */



/** Beginning of Border 相關 */
.basic-border {
    border: $basic-border;
}

.no-border {
    border: none !important;
}

.bottom-border {
    border-bottom: $basic-border !important;
}

.radius100{
    border-radius: 100%;
}
.basic-shadow {
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

/** End of Border 相關 */




/** Beginning of 大小、邊距等 相關 */

//寬度
.MaxWidth1000{
    max-width: 1000px !important;
}

.MaxWidth740{
    max-width: 740px !important;
}

.MaxWidth640{
    max-width: 640px !important;
}

.Width100px{
    width: 100px !important;
}

.Width300px{
    width: 300px !important;
}

.Width35{
    width: 35% !important;
}

.Width40{
    width: 40% !important;
}

.Width100{
    width: 100% !important;
}
//高度

.Height4 {
    height: 4.0rem;
} 

.Height100{
    height: 100%;
}

.BoxHeight9{
    height: 9rem;
}

.BoxHeight10{
    height: 10rem;
}
.BoxHeight16{
    height: 16rem;
}
.MinHeight4{
    min-height: 4rem;
}

.FixedBottom05{
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    width: calc(100% - 1rem);
}



//邊距
.margin0{
    margin: 0 auto !important;
}
.oneRemMargin{
    margin: 0.2rem;
}

.MarginTop00{
    margin-top: 0.0rem;
}

.MarginTop05{
    margin-top: 0.5rem;
}
.MarginTop1{
    margin-top: 1rem;
}
.MarginTop15{
    margin-top: 1.5rem;
}
.MarginTop2{
    margin-top: 2rem;
}

.MarginBottom05{
    margin-bottom: 0.5rem;
}

.MarginBottom5{
    margin-bottom: 5rem;
}

.margin-b-1{
    margin-bottom: 1rem;
}

.margin-r-1{
    margin-right: 0.5rem;
}
.flex80px{
    flex: 0 1 calc(100% - 80px) !important;
}

.flexauto{
    flex: 1 0 auto;
}

//內距

.padding0 {
    padding: 0  !important;
}
.padding2 {
    padding: 2rem !important;
}

.padding-l1 {
    padding-left: 1rem;
}

/** End of 大小、邊距等 相關 */

//flexbox

.align-center {
    align-items: center;
}
.justify-around {
    justify-content: space-around;
}

/** End of 大小、邊距等 相關 */

#error_explanation{
    border: 1px solid #eed3d7;
    padding: 30px;
    color: #b94a48;
    background-color: #f2dede;
    border-radius: 5px;
    font-size: 1.2em;
    ul{
        margin: 0;
    }
}

/*flash*/
.alert {
    padding: 30px;    
    font-size: 1.2em;
    border-radius: 5px;
    ul{
        margin: 0;
    }
}

.alert-error {
    @extend .alert;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }