
.dropdown-parent-label {
    font-size: 16px; 
    font-weight: 500; 
    color: black;
    &:hover {
        background: transparent;
        font-weight: bold;
    }
    @media #{$small-and-down} {
        padding: 0px;
    }
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    @media #{$small-and-down} {
        padding: 10px 10px;
        display: block;
        border: 0px solid #e0e0e0;
        border-radius: 10px;
    }
    &.last-dropdown {
        @media #{$small-and-down} {
            border-bottom: none;
        }
    }
}

.dropdown-content{
    width: 250px !important;
    position: absolute;
    top: 80px !important;
    left: 256px;
    opacity: 1;
    display: none;
    &.active {
    //position: absolute;
    top: 80px !important;
    //left: 944px;
    //opacity: 1;
    //display: block;
    @media #{$small-and-down} {
            width: 95% !important;
            right: -10px !important;
            left: 10px !important;
        }
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6) !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}