/* 最大的區塊叫做container */
/* 第二大的區塊叫做wrapper */
/* 然後用來分區的區塊叫做section */
/* 跟功能有關的叫做box */
/* 最小的應該叫做part (我現在好像是用section) */

/* Beginning of container */ 
.container--basic{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}
/* End of container */

.wrapper--basic{
    display: flex;
    padding: 2rem 0rem;
    margin: 0 auto;
    width: 100%;
}


/* Beginning of flexbox：所有flex - box的基礎 */ 
.flex-box{
    display: flex;
    flex-direction: column;
    position: relative;
}

.box--basic {
    display: flex;
    position: relative;
}

.section--basic {
    display: flex;
}

/* End of flexbox */ 

.btn--basic {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
    height: 37px;
    line-height: 35px;
    color: rgba(0,0,0,.45) !important;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    transition: .1s background-color,.1s border-color,.1s color,.1s fill;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
    white-space: nowrap;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}