
.header_cate {
    display: flex;
    margin-bottom: 15px;
    border-bottom: $basic-border;
    justify-content: space-between;
    .header_cate_title {
        padding: 15px;
        border-bottom: 1px solid black;
        font-size: 24px;
        a{
            color: black;
        }
    }
    .header_cate_more {
        padding: 15px 15px 18px 15px;
        font-size: 16px;
        a {
            color: black;
        }
    }
}



.filter_section_header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    border: $basic-border;
    margin: 0.5rem 0 1rem 0;
    a {
        &:hover, &:focus {
            background: $primary-color-light;
            color: white;
        }
    }
}