.icons--chip {
    font-size: 0.7rem;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: #8c8c8c;
}

.icons--input {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 20px;
    text-align: center;
}