//posts: new page

// form label
.form__label { 
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 25px;
    border-left: 3px solid black;
    padding-left: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    @media only screen and (max-width: 767px){
        font-size: 1.0em;
    }
    
}  

// New Post Modals 相關

.section__newpost ul {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
        padding: 0px;
    }
}

.section__newpost li {
    border: $basic-border;
    border-radius: 5px;
    margin: 5px 5px;
    flex: 1 1 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    @media only screen and (max-width: 600px) {
        margin: 5px 3px;
        flex: 1 1 40%;
        white-space: nowrap;
    }
}


.new-post-bar {
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    margin: 1.5rem 0rem;
    //background-color: #e6e6e6;
    text-align: center;
    border-bottom: 1px solid black;
} 




// Radio Button:按下之後，顏色的變化
.section__newpost input[type="radio"]:checked + label,
.Checked + label {
    background: black;
    color: white;
    border-radius: 5px;
}


// Radio Button: Hover 顏色的變化
.section__newpost label:hover {
     background: none;
     color: black;
     border: 1px solid black;
     border-radius: 5px;
     //@media only screen and (max-width: 993px){
        //pointer-events: none;
  //}
}
 
 //Radio Button 改成 Button。按下不會直接送出
[type="radio"] + label:before, [type="radio"] + label:after {
    content: none !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding: 0 !important;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 2rem !important;
    line-height: 2rem !important;
    font-size: 1.0rem;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
    
}

// beginning of modal
.modal {
    &.modal-post {
        @media #{$large-and-up} {
         width: 40%;
        }
    }
    .modal-content.modal-content-post {
        padding: 40px;
    }
}

.new-post-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}


.new-post-submit {
    width: 40%;
    border: 1px solid #ec407a;
    border-radius: 5px;
    background-color: rgba(236, 64, 122, 0.15);
    color: #ec407a; 
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        background-color: #ec407a;
        box-shadow: none;
        color: white;
    }
}
// end of modal