//內距

.padding05 {
    padding: 0 0.5rem !important;
}

.padding0 {
    padding: 0 !important;
}
.padding2 {
    padding: 2rem !important;
}

.padding15 {
    padding: 1.5rem !important;
}
.padding-l1 {
    padding-left: 1rem !important;
}
.padding-t0 {
    padding-top: 0rem !important;
}

.padding-b0 {
    padding-bottom: 0rem;
}
