/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/icons-material-design";
@import "materialize/components/color";
$primary-color: color("pink", "lighten-1") !default;
$secondary-color: color("light-green", "lighten-1") !default;
$primary-border: color("pink", "lighten-4") !default;
$will-paginate-color: color("pink", "lighten-3")!default;
//$dropdown-color: color("purple", "base") !default;

@import 'materialize';
@import "materialize/components/forms/forms";
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);

//materializeCSS 改
html {
    //黑體
    font-family: 'cwTeXHei', sans-serif;
    //圓體
    //font-family: 'cwTeXYen', sans-serif;
  }

//header, main, footer {
    //padding-left: 300px;
     //@media #{$medium-and-down} {
       //padding-left: 0px;
  //}
//}



//ul.side-nav.fixed li.logo {
    //margin-top: 32px;
    //margin-bottom: 40px;
//}


//.logo a:hover {
    //background-color: transparent;
//}
//header
.btn-flat-login{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    &:hover {
    background-color: transparent;
    }
}

//.dropdown-content-custom {
  //top: 50px !important;
//}

body {
    background-color: #fcfcfc;
    //background-color: #f8bbd0
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}
      

.container {
    //@media only screen and (min-width: 1200px){
        //width: 50%;
    //}
    @media only screen and (min-width: 993px){
        width: 80%;
    }
    
  }
  
.collection {
    border: 0px solid #e0e0e0;
    .collection-item {
        background-color: transparent;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 0px solid #e0e0e0;
        }
}  



// 自己增加的

//doctor-profile-card 醫生個人資料頁面

.doctor-profile{
    position: relative;
    margin: 0rem 0 1rem 0;
    //background-color: rgba(248, 187, 208, 0.52);
    transition: box-shadow .25s;
    padding-top: 40px;
    padding-bottom: 40px;
    
    .doctor-container {
        width: 100%;
        margin: 0 auto;
        @media #{$large-and-up} {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    .card-title.doctor-profile-title {
        color: #fff;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 10px 0px 10px 20px;    
    }
    
    .doctor-profile-action {
        position: relative;
        background-color: $primary-color;
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding: 20px;
    }
    .doctor-profile-experience, .doctor-profile-specialty {
        padding: 0px 20px 20px 30px;
    }
    
    .doctor-card{
        border: 5px solid $primary-border;
        border-radius: 10px;
        
    }
    .doctor-card-content{
        padding: 15px;
    }
}





//討論區




.discussion-container{
    padding-top: 7.5px;  
}

.control-container {
    //background-color: color("pink", "lighten-3");
    //box-shadow: 0 1px 0 0 #e8ebed; 
    //border-radius: 4px 4px 0 0; 
    margin: 0px;
    //border-top: 4px solid #f8bbd0;
    //border-bottom: 1px solid #e0e0e0;
    //border-right: 1px solid #e0e0e0;
    //border-left: 1px solid #e0e0e0;
    padding: 10px;
    @media #{$small-and-down} {
        padding: 0px 10px 0px 10px;
    }
}

.control-footer {
    //background-color: color("pink", "lighten-3");
    //box-shadow: 0 1px 0 0 #e8ebed; 
    //border-radius: 0 0 4px 4px; 
    margin: 0px;
    //border-right: 1px solid #e0e0e0;
    //border-left: 1px solid #e0e0e0;
    text-align: center;
    padding: 10px;
}



.dropdown-parent-label {
    font-size: 16px; 
    font-weight: 500; 
    color: black;
    &:hover {
        background: transparent;
        font-weight: bold;
    }
    @media #{$small-and-down} {
        padding: 0px;
    }
}



.control-page-items {
    margin: 0px;
    line-height: 40px;
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    @media #{$small-and-down} {
        padding: 10px 10px;
        display: block;
        border: 0px solid #e0e0e0;
        border-radius: 10px;
    }
    &.last-dropdown {
        @media #{$small-and-down} {
            border-bottom: none;
        }
    }
}


    


.discussion-board {
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    //background-color: white;
    //border-top: 4px solid #f8bbd0;
    //border-bottom: 4px solid #f8bbd0;
}


.discussion-form { 
    //padding: 80px;
    //border: 1px solid #e0e0e0;
    background-color: transparent;
    //border-top: 4px solid #f8bbd0;
    
}

.filter-section {
    border-top: 4px solid #f8bbd0;
    //border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-radius: 4px 4px 0 0;
   // height: 70px;
    background-color: #f9fafa;
}


.collection .collection-item.avatar {
    margin: 30px 0;
    .discussion-title {
        color: #f48fb1;
        font-weight: bold;
        font-size: 16px;
    }
    .title {
        font-size: 20px;
        line-height: 2.0;
        a {
            color: #384047;
            font-weight: bold;
        }
    }
}






.chip-normal {
    height: inherit;
    border-radius: 100px;
    background: transparent;
    //border: 2px solid white;
    //margin: 0 10px 10px 0;
    color: black;
    font-weight: bold;
    padding: 0 2rem; 
    font-size: 16px;
   
}


.chip-subject, .chip-period, .chip-kind {
    @extend .chip;
    height: inherit;
    border-radius: 100px;
    background: transparent;
    margin: 0 10px 10px 0;
    font-weight: bold;
   
}

.chip-subject{
    border: 2px solid #f48fb1;
    color: #f48fb1;
}

.chip-period {
    border: 2px solid #A5D6A7;
    color: #A5D6A7;

}

.chip-kind {
    border: 2px solid #ffab91;
    color: #ffab91;
}

.chip-delete {
    height: inherit;
    border-radius: 100px;
    background: #e1bee7;
    border: 2px solid #e1bee7 ;
    margin: 0 10px 10px 0;
    
}
    

.discussion-tags{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
}



.discussion-byline {
    font-size: 13px;
    color: #7b8b8e;
    margin: 10px 0;
    line-height: 1.4;
}

//posts: show page

.main-post-title.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.main-post-title {
    min-height: 70px;
    padding-left: 72px;
    position: relative;
}

.main-post-content .markdown-zone p {
    color: #576366;
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 72px;
     @media #{$small-and-down} {
        padding-left: 0px;
    }
}

.main-post-tag  {
    overflow: hidden; 
    white-space: nowrap; 
    margin-top: 30px;
    padding-left: 70px;
    @media #{$small-and-down} {
        padding-left: 0px;
    }
}




.modal {
    &.modal-post {
        @media #{$large-and-up} {
         width: 40%;
        }
    }
    .modal-content.modal-content-post {
        padding: 40px;
    }
}

//will_paginate

.pagination {
    background: white;
    cursor: default;
    float: right;
    a, span, em {
        padding: 0.2em 0.5em;
        display: block;
        float: left;
        margin-right: 1px;
    }
    .disabled {
        color: grey;
        border: 1px solid color("grey", "lighten-2");
    }
    .current {
        font-style: normal;
        font-weight: bold;
        background: $will-paginate-color;
        color: white;
        border: 1px solid $primary-border;
    }
    a {
        text-decoration: none;
        color: $primary-border;
        border: 1px solid $primary-border;
        &:hover, &:focus {
            color: $will-paginate-color;
            border-color: $will-paginate-color;
        }
    }
    .page_info {
        background: #2e6ab1;
        color: white;
        padding: 0.4em 0.6em;
        width: 22em;
        margin-bottom: 0.3em;
        text-align: center;
    }
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
}



//https://teamtreehouse.com/community
//http://blog.plataformatec.com.br/