/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

//Since materialize color scheme are declared in color.scss you should import the color.scss first. then you can override color variable
@import "materialize/components/color";
@import "color_variables";
@import 'materialize';
@import "extend";

//Style
@import "align";
@import "bg";
@import "border";
@import "heightxwidth";
@import "flexbox";
@import "margin";
@import "padding";
@import "position";

//Component
@import "image";
@import "boxes";
@import "section";
@import "chips";
@import "pagination";
@import "btn";
@import "dropdown";
@import "stickysidebar";
@import "navbar";

//Layout
@import "container";
@import "wrapper";
@import "bottom_nav";
@import "flex_filter";
@import "header";
@import "article_content";
@import "alert";

@import "materialize/components/forms/forms";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);

//客製化原本的CSS設定
@import "custom_css";
@import "new_post_modal";
@import "icons";

$main-font: 'Helvetica Neue', 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
$title-font: 'Helvetica Neue', 'PingFang TC', 'Heiti TC', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', '微軟正黑體', sans-serif;
$special-font: medium-ui-sans-serif-text-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;

//materializeCSS 改

html, body {
  font-size: 16px !important;
  font-family: $main-font;
  line-height: 1.75;
}

html {
    //黑體
    //font-family: Verdana,'cwTeXHei', sans-serif;
    //圓體
    //font-family: 'cwTeXYen', sans-serif;
   
}

body {
    display: flex;
    flex-direction: column;
    background-color: $secondary-bg;
    min-height: 100vh;
}


main {
    flex: 1 0 auto;
}
   


//按螢幕尺寸調整

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .sidebar-box-link-wrap ul {
        padding: 7px !important;
    }
}


@media only screen and (max-width: 993px) {
    //留言盒子 - POSTS_BOX
    .flex-post-box {
        //border: none;
    }
    .flex-post-box-small{
        //flex: 1 1 calc(100% - 8px) !important;
    }
    .flex-post-box-medium {
        flex: 1 1 calc(100% - 8px) !important;
    }
    .flex-post-box-large {
        flex: 0 1 100% !important;
    }
    // 首頁側邊欄的BOX - 由直轉橫
    .sidebar-box-link-wrap ul {
        display: flex;
        flex-direction: row !important;
        background-color: white;
        padding: 15px;
        margin: 0px;
        
    }
    .sidebar-box-link-wrap li {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0px 0px 0px 30px;
        border-right: $basic-border;
         &:last-child {
            border-right: none !important;
        }
        
    }
  }
  
  
@media only screen and (max-width: 600px) {
    // 首頁側邊欄的BOX - 由直轉橫
    .section__link ul {
        display: flex;
        flex-direction: row !important;
        background-color: white;
        padding: 15px 0px !important;
        margin: 0px;
    }
    .section__link li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 0px 0px 0px 0px;
        border-right: $basic-border;
        &:last-child {
            border-right: none !important;
        }
         i{
            flex-basis: 24px !important;
        }
    }
}

footer.page-footer {
    margin-top: 0px;
}