/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/icons-material-design";
@import "materialize/components/color";
$primary-color: color("pink", "lighten-1") !default;
$secondary-color: color("light-green", "lighten-1") !default;
$primary-border: color("pink", "lighten-4") !default;
$will-paginate-color: color("pink", "lighten-3")!default;
//$dropdown-color: color("purple", "base") !default;

@import 'materialize';
@import "materialize/components/forms/forms";
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);

//materializeCSS 改
html {
    //黑體
    font-family: 'cwTeXHei', sans-serif;
    //圓體
    //font-family: 'cwTeXYen', sans-serif;
  }

//header, main, footer {
    //padding-left: 300px;
     //@media #{$medium-and-down} {
       //padding-left: 0px;
  //}
//}



//ul.side-nav.fixed li.logo {
    //margin-top: 32px;
    //margin-bottom: 40px;
//}


//.logo a:hover {
    //background-color: transparent;
//}

//header

.btn-flat-custom{
    border-radius: 10px;
    color: white;
    
    &.white-border {
       border: 1px solid white; 
    }
    &.grey-border {
       border: 1px solid #e0e0e0;
       color: black;
    }
    &:hover {
    background-color: transparent;
    }
}

//.dropdown-content-custom {
  //top: 50px !important;
//}

body {
    background-color: #fcfcfc;
    //background-color: #f8bbd0
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}
      

.container {
    //@media only screen and (min-width: 1200px){
        //width: 50%;
    //}
    @media only screen and (min-width: 993px){
        width: 80%;
    }
    @media only screen and (max-width: 993px){
        width: 100%;
    }
    
  }
.container-doctor {
    @media only screen and (max-width: 993px){
        width: 100%;
        margin: 0 auto;
  }
}  
  
.collection {
    border: 0px solid #e0e0e0;
    .collection-item {
        background-color: transparent;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 0px solid #e0e0e0;
        }
}  



// 自己增加的

.new-post-label { 
    color: black; 
    font-size: 1.2rem;
    line-height: 48px;
}

//doctor-profile-card 醫生個人資料頁面


//圖卡專用

.card-doctor {
    border: 1px solid #e0e0e0;
    //background-color: #fafafa;
    border-radius: 0px;
    &.babygirl {
        background-color: color("pink", "lighten-5");
    }
    &.babyboy {
        background-color: color("blue", "lighten-5");
    }
    &.card-doctor-sidebar{
        @media only screen and (max-width: 993px){
        border-radius: 0px;
        }
    }
    &.card-doctor-list{
        //border-bottom-right-radius: 10px;
        //border-bottom-left-radius: 10px;
        //border-top-right-radius: 0px;
        //border-top-left-radius: 0px;
        background-color: transparent;
        border: 0px solid #e0e0e0;
    }
    .card-image { 
        .card-title-doctor {
            color: #fff;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            padding: 10px 0px 10px 20px;
            
            
            &.card-title-doctor-index{
                display: block;
                padding: 10px 10px 10px 0px;
                .doctor-index-name {
                    display: block;
                    float: left;
                    font-size: 17px;
                    @media only screen and (max-width: 993px){
                font-size: 14px;
            }
                }
                .doctor-index-post {
                    display: block;
                    float: right;
                    font-size: 15px;
                    @media only screen and (max-width: 993px){
                font-size: 10px;
            }
                }
                a{
                    padding: 0 1rem;
                }
            }
            ul{
                float: right;
                width: 100%;
                margin: 0 auto;
                white-space: nowrap; //下一層的li不會斷斷行
                overflow: hidden;
                li{
                    float: left;
                     a{
                         font-size: 20px;
                         display: block;
                         padding: 0 15px;
                     }
                }
            }
        }
    }
    .card-content-doctor {
        margin-bottom: 0px;
        padding: 0px 15px;
        &.index-sidebar{
            background-color: #fcfcfc;
            //border-top-left-radius: 10px;
            //border-top-right-radius: 10px;
            border-bottom: 1px solid #e0e0e0;
        }
        &.card-content-doctor-list{
            padding: 15px 0 30px 0;
            border: 1px solid #e0e0e0;
            background-color: rgb(252, 252, 252);
            a {
                color: #7b8b8e;
            }
        }
    .card-content-doctor-ul{
            padding-left: 20px;
            line-height: 35px;
            margin: 0px;
            a {
                width: 100%;
                display: block;
                height: 3rem;
                line-height: 3rem;
            }
            li{
                margin: 15px 0px;
                .select-wrapper input.select-dropdown {
                    position: relative;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    border-bottom: 0px !important;   
                    outline: none;
                    height: 3rem;
                    line-height: 3rem;
                    width: 100%;
                    font-size: 16px !important;
                    margin: 0px !important; 
                    padding: 0;
                    display: block;
                }
            }
        }
    }
    .card-action-doctor{
        padding: 0px 20px 0px 5px;
        margin: 0 auto;
        background-color: transparent; 
        border-top: 0px;
        &.card-action-doctor-list{
            padding: 7px 15px;
            .index-list-post-title{
                background-color: #e0e0e0; 
                padding: 5px 15px 5px 15px; 
                border-radius: 5px; 
                color: black; 
                min-height: 55.5px;
                a {
                    margin-right: 0px;
                    h6 {
                        color: #373737;
                    }
                }
            }
            
        }
        ul{
            margin: 0px;
            li{
                min-height: 40px;
                a {
                    width: 100%;
                    display: block;
                    height: 3rem;
                    line-height: 3rem;
                }
                .post-image{
                    display: inline-block;
                    width: 15%;
                    margin: 5px;
                    padding-top: 10px; 
                }
                .post-title {
                    display: inline-block;
                    width: 80%;
                    border: 0px;
                    &.post-title-last{
                        border-bottom: 0px;
                    }
                }
                @media #{$small-and-down} {
                    .post-title {
                        //font-size: 20px;
                        //padding: 10px;
                        padding: 5px;
                        border-bottom: 1px solid rgba(160, 160, 160, 0.2);
                    }
                }
            }
        }
    }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 0px;
    transition: color .3s ease;
    text-transform: uppercase;
}








//討論區 post-board

.card-doctor-post-board{
    border: 0px solid #e0e0e0;
    background-color: transparent;
    border-radius: 0px;
    .card-content-doctor-post-board{
        padding: 0px;
    }
    .collection-item-doctor-post-board-list{
        margin-bottom: 5px;
        border: 1px solid #e0e0e0 !important; 
        //padding: 30px 0px 30px 0px;
        .post-pre-title{
            color: #f48fb1;
            font-weight: bold;
            font-size: 16px;
        }
        h5{
            color: black;
        }
    }
}

.collection-item-doctor-post-board-list{
        margin-bottom: 5px;
        border: 1px solid #e0e0e0 !important; 
        //padding: 30px 0px 30px 0px;
        .post-top{
            border-bottom: 1px solid #e6e6e6;
        }
        .post-middle{
            .post-pre-title{
            color: #f48fb1;
            font-weight: bold;
            font-size: 16px;
        }
        h5{
            color: black;
        }
        }
        
    }

.doctor-post-board-list{
        margin-bottom: 5px;
        border: 1px solid #e0e0e0 !important; 
        padding: 0px;
        .post-board-top{
            border-bottom: 1px solid #e6e6e6;
            padding: 15px 15px 5px 15px;
            margin: 0px 15px;
        }
        
        
        .post-board-middle{
            padding: 15px 30px;
            
            &.post-board-list-middle{
                height: 130px;
            }
            .post-pre-title{
                color: #f48fb1;
                font-weight: bold;
                font-size: 16px;
            }
            h5{
            color: black;
            }
        }
        .post-board-bottom{
            border-top: 1px solid #e6e6e6;
            padding: 15px 15px 0px 15px;
        }
        
    }

.post-board-post-title{
    font-size: 20px;
    line-height: 2.0;
    a{
        color: black;
    }
   
}

.post-byline {
    font-size: 15px;
    color: #7b8b8e;
    //margin: 10px 0px 0px 0px;
    line-height: 1.4;
    min-height: 100px;
}

.post-board-user-section{
    display: flex;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.post-board-user-pic{
    display: block;
    float: left;
    padding-right: 10px!important;
    .circle{
     width: 42px;
    height: 42px;   
    }
        
}

.post-board-user-name{
    display: block;
    float: left;
    color: #7b8b8e;
    .name{
        color: rgba(0,0,0,.8)!important;
    }
}

.post-chip{
    margin-left: auto;
}

//討論區


.discussion-container{
    padding-top: 7.5px;  
}

.control-container {
    //background-color: color("pink", "lighten-3");
    //box-shadow: 0 1px 0 0 #e8ebed; 
    //border-radius: 4px 4px 0 0; 
    margin: 0px;
    //border-top: 4px solid #f8bbd0;
    //border-bottom: 1px solid #e0e0e0;
    //border-right: 1px solid #e0e0e0;
    //border-left: 1px solid #e0e0e0;
    padding: 10px;
    @media #{$small-and-down} {
        padding: 0px 10px 0px 10px;
    }
}

.control-footer {
    //background-color: color("pink", "lighten-3");
    //box-shadow: 0 1px 0 0 #e8ebed; 
    //border-radius: 0 0 4px 4px; 
    margin: 0px;
    //border-right: 1px solid #e0e0e0;
    //border-left: 1px solid #e0e0e0;
    text-align: center;
    padding: 10px;
}



.dropdown-parent-label {
    font-size: 16px; 
    font-weight: 500; 
    color: black;
    &:hover {
        background: transparent;
        font-weight: bold;
    }
    @media #{$small-and-down} {
        padding: 0px;
    }
}



.control-page-items {
    margin: 0px;
    line-height: 40px;
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    @media #{$small-and-down} {
        padding: 10px 10px;
        display: block;
        border: 0px solid #e0e0e0;
        border-radius: 10px;
    }
    &.last-dropdown {
        @media #{$small-and-down} {
            border-bottom: none;
        }
    }
}


    


.discussion-board {
    padding: 30px;
    //border: 1px solid #e0e0e0;
    //border-radius: 10px;
    //background-color: white;
    //border-top: 4px solid #f8bbd0;
    //border-bottom: 4px solid #f8bbd0;
}


.discussion-form { 
    //padding: 80px;
    //border: 1px solid #e0e0e0;
    background-color: transparent;
    //border-top: 4px solid #f8bbd0;
    
}

.filter-section {
    border-top: 4px solid #f8bbd0;
    //border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-radius: 4px 4px 0 0;
   // height: 70px;
    background-color: #f9fafa;
}


.collection .collection-item.avatar {
    margin: 30px 0;
    .discussion-title {
        color: #f48fb1;
        font-weight: bold;
        font-size: 16px;
    }
    .title {
        font-size: 20px;
        line-height: 2.0;
        a {
            color: #384047;
            font-weight: bold;
        }
    }
}






.chip-normal {
    height: inherit;
    border-radius: 100px;
    background: transparent;
    //border: 2px solid white;
    //margin: 0 10px 10px 0;
    color: black;
    font-weight: bold;
    padding: 0 2rem; 
    font-size: 12px;
   
}


.chip-subject, .chip-period, .chip-kind {
    @extend .chip;
    height: inherit;
    border-radius: 100px;
    background: transparent;
    margin: 0 10px 10px 0;

}

.chip-subject{
    border: 1px solid #f48fb1;
    color: #f48fb1;
    
}

.chip-period {
    border: 1px solid #A5D6A7;
    color: #A5D6A7;
    margin-left: auto;

}

.chip-kind {
    border: 1px solid #ffab91;
    color: #ffab91;
    
}

.chip-delete {
    height: inherit;
    border-radius: 100px;
    background: #e1bee7;
    border: 1px solid #e1bee7 ;
    margin: 0 10px 10px 0;
    
}
    

.discussion-tags{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
}



.discussion-byline {
    font-size: 13px;
    color: #7b8b8e;
    margin: 10px 0;
    line-height: 1.4;
}

//posts: show page

.main-post-title.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.main-post-title {
    min-height: 70px;
    padding-left: 72px;
    position: relative;
}

.main-post-content .markdown-zone p {
    color: #576366;
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 72px;
     @media #{$small-and-down} {
        padding-left: 0px;
    }
}

.main-post-tag  {
    overflow: hidden; 
    white-space: nowrap; 
    margin-top: 30px;
    padding-left: 70px;
    @media #{$small-and-down} {
        padding-left: 0px;
    }
}




.modal {
    &.modal-post {
        @media #{$large-and-up} {
         width: 40%;
        }
    }
    .modal-content.modal-content-post {
        padding: 40px;
    }
}

//will_paginate

.pagination {
    background: white;
    cursor: default;
    float: right;
    a, span, em {
        padding: 0.2em 0.5em;
        display: block;
        float: left;
        margin-right: 1px;
    }
    .disabled {
        color: grey;
        border: 1px solid color("grey", "lighten-2");
    }
    .current {
        font-style: normal;
        font-weight: bold;
        background: $will-paginate-color;
        color: white;
        border: 1px solid $primary-border;
    }
    a {
        text-decoration: none;
        color: $primary-border;
        border: 1px solid $primary-border;
        &:hover, &:focus {
            color: $will-paginate-color;
            border-color: $will-paginate-color;
        }
    }
    .page_info {
        background: #2e6ab1;
        color: white;
        padding: 0.4em 0.6em;
        width: 22em;
        margin-bottom: 0.3em;
        text-align: center;
    }
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
}



//https://teamtreehouse.com/community
//http://blog.plataformatec.com.br/